**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
nbactions.xml
**/.nb-gradle/
*.jar
*.class
/PastebinProxyComp/nbproject/private/
/PastebinProxyComp/src/jbiServiceUnits/
/PastebinTesterComp/nbproject/private/
/PastebinTesterComp/src/jbiServiceUnits/
/PastebinTesterComp/test/results/
/BibleBraille/nbproject/private/
/BibleBrailleComp/nbproject/private/
/BibleBrailleComp/src/jbiServiceUnits/
/BibleBrailleComp/test/results/
/TEST/nbproject/private/
/TESTComp/src/jbiServiceUnits/
/TESTComp/test/results/
/BibleAudioProxyComp/src/jbiServiceUnits/
/TESTBibleAudioComp/src/jbiServiceUnits/
/TESTBibleAudioComp/test/results/